# Dependencies
node_modules/

# Next.js
.next/
out/
.next/cache/

# Env files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Typescript build
dist/
*.tsbuildinfo

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Temp
tmp/
